// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 30px;
  background-color: #2D3D4E;
  color: white;
  text-align: left;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;

  li {

    h1 {
      font-size: 26px;
      font-weight: bold;

      i {
        color: #FD1015;
        font-size: 20px;
      }
    }

    a {
      // vertical-align: middle;
    }

    p {
      font-size: 20px;
    }
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

#article-description {
  margin-top: 5px;
}

.container {
  width: 40%;
}
